*{
    margin: 0;padding: 0;box-sizing: border-box;
}html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family:ppb;
    src: url(PPWoodland-Bold.otf);
}
@font-face {
    font-family:ppl;
    src: url(PPWoodland-Ultralight.otf);
}
#nav{
    width: 100vw;
    height: 20vh;
    /* background-color: blueviolet; */
    display: flex;
    padding: 30px 2vw 0 2vw;
    position: absolute;
    z-index: 99;
    
    justify-content: space-between;
}#nav #n1{
/* background-color: yellowgreen; */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-top: 90px;
position:absolute;
/* background-color: burlywood; */
left: 50%;
transform: translateX(-50%);
}
#nav i{
    font-size: 1.8vw;
    color: #5b6647;
}#nav button{
    padding: 9px 18px;
    text-transform: capitalize;
    color: white;
    border: none;
    background-color: #5b6647;
    border-radius: 50px;
}#nav #n2 :nth-child(1){
    border: 1px solid #5b6647;
    color: #5b6647;
    background-color: transparent;
}#n1 h1{
    font-family: ppl;
    color: #5b6647;
    text-transform: capitalize;
    font-size: 3vw;
}#n1 h3{
    color: #5b6647;
    text-transform: uppercase;
    font-size: 1.3vw;
    font-family: ppl;
    margin-top: 5px;
}#page1{
    width: 100vw;
    height: 100vh;
    
    background-color:  #e3e3c4;
}#page1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#page2{
    width: 100vw;
    height: 130vh;
    position: relative;
    background-color:#5b6647;

}#svg1{
    width: 100%;
    height: 100%;
    position: relative;
    top: -15.5%;
    
}
#page2 #text{
    position: absolute;
    /* background-color: burlywood; */
    z-index: 99;
    left: 50%;
    top: 45%;
    text-align: center;
    transform: translate(-50%,-50%);
}#text h1{
    font-family: ppb;
    margin-bottom: 30px;
    font-size: 3vw;
    color: #2d351f;
}#svg2{
    position: absolute;
    top: 100%;
    right: -10%;
    width: 150%;
    z-index: 10;

}#svg3{
    position: absolute;
    top: 103%;
    right:0%;
    width: 190%;

    /* z-index: 99; */

}
#page3{
    width: 100vw;
    height: 170vh;
    position: relative;
    z-index: -8;
    background-color: #f7f7ee;
}#text2{
    position: absolute;
    font-family: ppb;
    top: 25%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    
}#text2 h1{
    font-family: ppl;
    margin-bottom: 20px;
    font-size: 4vw;
    color: #e3e3c4;
    white-space: nowrap;
}#page31{
    width: 100vw;
    height: 100vh;
    /* background-color: #5c5151; */
    position: relative;
    top: 40%;
    display: flex;
    padding: 0px 5vw;

}#left31{
    /* background-color: #5b6647; */
    width: 40%;
    height: 100%;
}#left31 p{
    width: 70%;
    font-family: avenir;
    font-weight: 100;
    font-size: 15px;

}#left31 img{
    width: 100%;
    border-radius: 10px;
    height: 40%;
    margin-top: 60px;
    object-fit: cover;
    object-position: center;
}#right31{
    width: 60%;
    height: 100%;
    padding-left: 17px;
    /* background-color: bisque; */
}#explore{
    width: 100%;
    height: 10%;
    align-items: center;
    /* justify-content: center; */
    /* background-color: #668e1c; */
    display: flex;
    gap: 20px;
    margin-top: 30px;
     
     
}#explore button{
    padding: 6px 18px;
    border: none;
    background-color: #5b6647;
    border-radius: 50px;
    font-size: 15px;
    color: white;
}#explore h1{
    font-size: 20px;
   font-family: avenir;
   font-weight: 400;
   color: #5b6647;
   text-transform: capitalize;
}#img1{
    width: 100%;
    
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}
#img2{
    width: 50%;
    object-fit: cover;
    object-position: center;
    margin-top: 12px;
    border-radius: 10px;
}#page4{
    width: 100vw;
    height: 105vh;
    background-color: #f7f7ee;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}.table{
    width: 90vw;
    height: 20vh;
    /* background-color: coral; */
    border-top: #000 solid 1px;
    overflow: hidden;
    display: flex;
    justify-content: end;
    
    
}.table1{
    overflow: hidden;
    width: 0%;
    height: 100%;
    position: relative;
    
    
    /* background-color: beige; */
    transition: all ease-in-out 0.2s;


}.table1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}#board{
    width: 90vw;
    height: 100vh;
    border: #000 solid 1px;
    border-top: none;
    overflow: hidden;
    /* background-color: cadetblue; */
    overflow: hidden;
    border-radius: 15px;
}.table2{
    width: 100%;
    position: relative;
    padding: 20px 0px 0px 30px;
    transition: all ease-in-out 0.2s;
    /* background-color: #e3e3c4; */
    color: #5b6647;
}.table2 h1{
    font-family: ppl;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
    margin-top: 25px;
    color: #5b6647;
}.table p{
    font-size: 13px;
    font-weight: 100;
    font-family: avenir;
    
}.table:hover .table1{
    width: 25%;
    transition: ease-out 0.2s;

}.table:hover .table2{
    width: 75%;
    transition: ease-out 0.2s;
    background-color: #5b6647;
    color: #e3e3c4;
}.table2 .oo{
    position: fixed;
    right: 10%;
    padding: 3px 15px;
    border-radius: 50px;
    background-color: #5b6647;
    color: #e3e3c4;
}
.table2 i{
    position: fixed;
    right: 10%;
    opacity: 0;
    padding: 3px 15px;
    border-radius: 50px;
    color: #5b6647;
    background-color: #e3e3c4;
}.table:hover .table2 i {
opacity: 1;

}.table:hover .table2 h1{
    color: #e3e3c4;



    /* page 5 blank hai */
}#page5{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    overflow-y: hidden;
}.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(0.6) translateX(-40%) translateY(34%);
        -ms-transform: scale(0.6) translateX(-40%) translateY(34%);
            transform: scale(0.6) translateX(-40%) translateY(34%);
    border-radius: 20px;
  }
  
  .swiper-slide {
    width: 80%;
    padding: 60px;
  }
  
  .swiper-slide-active img {
    -webkit-transform: scale(1) translateX(0%) translateY(0%);
        -ms-transform: scale(1) translateX(0%) translateY(0%);
            transform: scale(1) translateX(0%) translateY(0%);
  }
  
  .swiper-button-next {
    color: #fff;
    background-color: #434b34;
    padding: 5px 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    right: 5%;
  }
  .swiper-button-prev {
    color: #fff;
    background-color: #434b34;
    padding: 5px 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 80%;
  }
  
  .swiper-button-next::after {
 display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  
  .swiper-pagination{
      /* background-color: red; */
      height: 5%;
      width: 5%;
      left: 85%;
      top: 7%;
      font-weight: 700;
      color: #5b6647;
      font-size: 14px;
  }

#page6{
    width: 100vw;
    height: 170vh;
    margin-top: 100px;
    position: relative;
    background-color: #04364f;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}#page6 #svgno1{
    rotate: 180deg;
    position: absolute;
    top: -7%;
    width: 180%;
    left: 0%;
    /* background-color: burlywood; */

}#page6 #svgno2{
    rotate: 180deg;
    position: absolute;
    top: -6%;
    width: 180%;
    left: 0%;
    /* background-color: burlywood; */
}#text6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background-color: blue; */
    top: 15%;
}#text6 h2{
    font-family: ppl;
    margin-bottom: 20px;
    font-size: 4.7vw;
    color: #043f5d;
    white-space: nowrap;
}#page6 #para{
    position: relative;
    top: 17%;
    font-family: avenir;  
    font-size: 15px;
    width: 37vw; 
    text-align: center;
    color: white;
    
}#content6{
    width: 100vw;
    height: 80vh;
    position: relative;
    top: 20%;
    /* background-color: cadetblue; */
    display: flex;

}#left61{
    width: 48%;
    height: 100%;
    /* background-color: chocolate; */
}#right62{
    width: 52%;
    height: 100%;
    /* background-color: rgb(125, 126, 126); */
    display: flex;
}#l611{
    /* background-color: cadetblue; */
    width: 23vw;
    height: 50vh;
    margin-left: 40px;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
 text-align: left;
 color: #e3e3c4;
}#l611 img{
    width: 95%;
    height: 50%;
    border-radius: 10px;
}#l611 h1{
    font-family: ppl;
    width: 95%;
    font-size: 2.4vw;
    margin-top: 30px;
}#l611 p{
    font-family: ppl;
    color: white;
    width: 95%;
    font-size: 0.9vw;
    margin-top: 10px;
    
    font-family: avenir;

}#r611{
    /* background-color: cadetblue; */
    width: 23vw;
    height: 50vh;
    
    overflow: hidden;
    margin-top:70%;
    display: flex;
    align-items: center;
    flex-direction: column;
 text-align: left;
 color: #e3e3c4;
}#r611 img{
    width: 95%;
    height: 50%;
    border-radius: 10px;
}#r611 h1{
    font-family: ppl;
    width: 95%;
    font-size: 2.4vw;
    margin-top: 30px;
}#r611 p{
    font-family: ppl;
    color: white;
    width: 95%;
    font-size: 0.9vw;
    margin-top: 10px;
    
    font-family: avenir;

}#r622{
    /* background-color: cadetblue; */
    width: 23vw;
    height: 50vh;
    margin-left: 35px;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
 text-align: left;
 color: #e3e3c4;
}#r622 img{
    width: 95%;
    height: 50%;
    border-radius: 10px;
}#r622 h1{
    font-family: ppl;
    width: 95%;
    font-size: 2.3vw;
    margin-top: 30px;
}#r622 p{
    font-family: ppl;
    width: 95%;
    font-size: 0.9vw;
    margin-top: 10px;
    color: white;
    
    font-family: avenir;
}#arrow{
    /* background-color: beige; */
    margin-top: 27%;
    display: flex;
    align-items: center;
    justify-content: center;

}#arrow h1{
    font-family: avenir;
    font-weight: 500;
    font-size: 20px;
    color: white;

}#arrow i{
    font-family: avenir;
    font-weight: 500;
    font-size: 18px;
    color: gray;
    padding: 5px 15px;
    background-color: white;
    margin-left: 10px;
    border-radius: 50px;
}#svgno11{
    position: absolute;
    top: 101%;
    z-index: 99;
    left: 0%;
    width: 180%;
    /* background-color: blueviolet; */
}#svgno22{
    position: absolute;
    top: 99%;
    z-index: 99;
    left: 0%;
    width: 180%;
    /* background-color: blueviolet; */
}






#page7{
    width: 100vw;
    height: 200vh;
    position: relative;
    z-index: -99;
    /* background-color: yellowgreen; */
    background-color: #f7f7ee;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}#text7{
    /* background-color: blue; */
    position: relative;
    top: 15%;
    width: 100vw;
    text-align: center;
}#text7 h1{
    font-family: ppb;
    font-size: 4vw;
    margin-top: 20px;
    color: #e3e3c4;
}#content7{
    /* background-color: blue; */
    width: 100vw;
    height: 95vh;
    position: relative;
    top: 17%;
    display: flex;
    
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    justify-content: space-evenly;
    overflow: hidden;
}#remix h1{
    font-family: ppl;
    margin-top:40%;
    font-size: 5vw;
    color:#555b46 
    ;
}#remix{
    /* background-color: bisque; */
    width: 30%;
    height: 100%;
}#remix p{
    font-family: avenir;
    font-size: 12px;
    margin-top: 30px;
    color: #555b46;
}#explore7{
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    /* background-color: #2d351f; */
    width: 100%;
    height: 20%;
}#explore7 h1{
  font-size: 20px;
  font-family: avenir;
  font-weight: 300;
}#explore7 i{
    padding: 5px 15px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: #555b46;
    color: white;
}#content7 #img71{
   width:50vw;
   height: 70vh;
   object-fit: cover;
   object-position: center;
   left: -20%;
   position:absolute;
   border-radius: 15px;
}#content7 #img72{
   width:50vw;
   height: 70vh;
   right: -20%;
   object-fit: cover;
   object-position: center;
   position:absolute;
   border-radius: 15px;
}#page8{
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    background-color: rgb(6, 168, 168);

}#page8 img{
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
    position: relative;
    top: -30%;
    
}
#page9{
    width: 100vw;
    height: 160vh;
    background-color: #5b6647;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}.svgno911{
    width: 180%;
    position: absolute;
    left: 0%;
    top: -12%;
    rotate: 180deg;
    
    /* background-color: #2d351f; */
    
}.svgno922{
    width: 180%;
    top: -10%;
    left: -10%;
    rotate: 180deg;
    position: absolute;
    /* background-color: yellowgreen; */
}#text9{
    width: 100%;
    position: relative;
    top: 6%;
    text-align: center;
    /* background-color: yellow; */
}#text9 h1{
    font-size: 4.8vw;
    font-family: ppl;
    color: #555b46;
}#para9{
   margin-top: 8%;
   width: 30%;
   text-align: center;
   color: #e3e3c4;
}#content9{
    width: 85vw;
    height: 80vh;
    margin-top: 5%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;

}#content9 :nth-child(1){
    width: 22vw;
    height: 45vh;
    border-radius: 20px;
    position: relative;
    top: 44%;
}#content9 :nth-child(3){
    width: 22vw;
    height: 45vh; 
    border-radius: 20px;
}#content9 :nth-child(2){
    width: 37vw;    
    border-radius: 20px;
}#content9 img{
    object-fit:cover;
    object-position: center;
}#discover{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: burlywood; */
    margin-top: 10%;
}#discover h1{
    font-family: avenir;
    font-weight: 400;
    font-size: 1.6vw;
    color: white;
}#discover i{
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
color: #555b46;
margin-left: 10px;
    

}#page10{
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-color: #f7f7ee;
}#text10{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: beige; */
    margin-top: 10%;
}
#text10 h1{
    font-size: 4vw;
    font-family: ppl;
    color: #444d36;
}#para10{
    margin-top: 3%;
    width:28%;
    text-align: center;
    color: #e3e3c4;
    font-family: avenir;
    text-align: center;
    color: #444d36;
}#content10{
    width: 90vw;
    height: 70vh;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}#left101{
    width: 42%;
    height: 100%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;


}#right102{
    width: 42%;
    height: 100%;
    /* background-color: rgb(97, 155, 157); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}#left101 img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}#right102 h1{
    font-size: 2vw;
    font-family: ppl;
    color: #313626;

}#right102 p{
    font-size: 12px;
    font-family: avenir;
    width: 46%;
    margin-top: 20px;
    color: #313626;


}#right102 h2{
    font-size: 1.5vw;
    font-family: avenir;
    width: 46%;
    font-weight: 500;
    margin-top: 50px;
    white-space: nowrap;
    color: #555b46;
}#right102 i{
    padding: 5px 15px;
    background-color: #555b46;
    border-radius: 50px;
    color: white;
    margin-left: 10px;
}.right102{
    padding-left: 10%;

}#page11{
    width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    background-color: rgb(6, 168, 168);

}#page11 img{
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: center;
    position: relative;
    
    top: -30%;
}#content11{
    width: 90vw;
    height: 30vh;
    background-color: #555b46;
    position: absolute;
    z-index: 99;
    top: 60%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}#content11 h1{
    font-family: ppb;
    color: #e3e3c4;
    font-size: 2.7vw
}#content11 h2{
    font-family: avenir;
    color: #e3e3c4;
    font-size: 1.5vw;
    font-weight: 500;

}#content11 i{
    padding: 3px 15px;
    background-color: #e3e3c4;
    color: #555b46;
    border-radius: 50px;
    margin-left: 10px;
}#page12{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #04364f;
    position: relative;
    overflow: hidden;
    z-index: -8;
}#p121{
    width: 90vw;
    height: 20vh;
    position: relative;
    /* background-color: black; */
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    flex-direction: column;
}#opi{
    position: absolute;
    top: -0%;
    z-index: -9;
scale: 1;

}#p122{
    width: 90vw;
    display: flex;
    border-bottom: 1px solid white;
    margin-top: 5%;
    align-items: center;
    justify-content: space-between;
}#p123{
    width: 90vw;
    margin-top: 16%;
    display: flex;
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: space-between; 

}#p124{
    width: 90vw;
    display: flex;
    /* height: 20vh; */
    align-items: center;
    
    /* border-bottom: 1px solid white; */
    justify-content: space-between; 

}#p125{
    width: 90vw;
    margin-top: 5%;
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
}#page12 h3{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #e3e3c4;
    opacity: 80%;
    font-family: avenir;
    font-weight: 100;
    font-size: 15px;
}#page12 p{
    font-size: 10px;
    font-family: avenir;
    font-weight: 100;
    color: #e3e3c4;
    opacity: 80%;
}#p121 img{
    width: 40px;
    position: absolute;
    left: 95%;
    top: 30%;

}